# fly.toml app configuration file generated for lootstash-marketplace-api on 2026-02-07T00:17:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lootstash-marketplace-api'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    soft_limit = 150
    hard_limit = 200

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
